<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-4398701971447402",
		enable_page_level_ads: true
		});
	</script>
	<meta charset="{{site.charset}}" />
	<title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="description" content="{{site.description}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="{{site.pingback_url}}" />
	<!-- wp_head -->
	{{function('wp_head')}}
	<script type="text/javascript">
		var td_animation_stack_effect = "type0";
		var tds_animation_stack = true;
		var td_animation_stack_specific_selectors = ".entry-thumb, img";
		var td_animation_stack_general_selectors = ".td-animation-stack img, .post img";
		var td_ajax_url = "index.html\/\/demo.tagdiv.com\/newsmag\/wp-admin\/admin-ajax.php?td_theme_name=Newsmag&v=3.1_d98";
		var td_get_template_directory_uri = "index.html\/\/demo.tagdiv.com\/newsmag\/wp-content\/themes\/010";
		var tds_snap_menu = "smart_snap_always";
		var tds_logo_on_sticky = "show";
		var tds_header_style = "";
		var td_please_wait = "Please wait...";
		var td_email_user_pass_incorrect = "User or password incorrect!";
		var td_email_user_incorrect = "Email or username incorrect!";
		var td_email_incorrect = "Email incorrect!";
		var tds_more_articles_on_post_enable = "";
		var tds_more_articles_on_post_time_to_wait = "";
		var tds_more_articles_on_post_pages_distance_from_top = 0;
		var tds_theme_color_site_wide = "#4db2ec";
		var tds_smart_sidebar = "enabled";
		var tdThemeName = "Newsmag";
		var td_magnific_popup_translation_tPrev = "Previous (Left arrow key)";
		var td_magnific_popup_translation_tNext = "Next (Right arrow key)";
		var td_magnific_popup_translation_tCounter = "%curr% of %total%";
		var td_magnific_popup_translation_ajax_tError = "The content from %url% could not be loaded.";
		var td_magnific_popup_translation_image_tError = "The image #%curr% could not be loaded.";
		var td_ad_background_click_link = "";
		var td_ad_background_click_target = "";
	</script>
